// Titles
@font-face {
  font-family: 'Title';
  src: url('./fonts/OSP-DIN-webfont.eot');
  src: url('./fonts/OSP-DIN-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/OSP-DIN-webfont.woff') format('woff'),
       url('./fonts/OSP-DIN-webfont.ttf') format('truetype'),
       url('./fonts/OSP-DIN-webfont.svg#OSPDIN') format('svg');
  font-weight: normal;
  font-style: normal;
}
