// Hits main area
.ais-hits {
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
}

// Each hit
.ais-hits--item {
  flex: 1 1 800px;
}

// Hit template
.hit {
  margin: 5px;
  height: 200px;
  padding: 1rem;
  overflow: hidden;
  background: white;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 2rem;
    background: linear-gradient(to bottom, transparent, #FFF 90%);
    display: block;
  }
  &.hit__isConference {
    border: 2px solid $pink;
  }
  &.hit__isWorkshop {
    border: 2px solid $blue;
  }
}
 
.search-hit--highlight {
  background: $light-blue;
  padding: 0 .1rem;
}

.hit--year {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-align: right;
  background: $light-blue;
  color: $text-color;
  padding: .5rem;
  border-radius: 3px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

.hit--title {
  margin: 0;
  font-family: 'Title';
  color: $pink;
  margin-right: 4rem;
  font-size: 1.9rem;
}

.hit--authors {
  margin-top: .5rem;
}

.hit--author {
  $author-size: 40px;
  font-size: .9rem;
  height: $author-size;
  line-height: $author-size;
  padding-left: $author-size + 10px;
  padding-right: 10px;
  display: inline-block;
  background: {
    repeat: no-repeat;
    position: 0px 0px;
    size: $author-size;
  }
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &.hit-facet__isRefined {
    color: $pink;
    font-weight: bold;
  }
}

.hit--tags {
  margin-top: .5rem;
}
.hit--tag {
  font-size: .9rem;
  display: inline-block;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &:before {
    content: '#';
  }
  &.hit-facet__isRefined {
    color: $pink;
    font-weight: bold;
  }
}

.hit--description {
  padding-top: .5rem;
  font-size: .9rem;
  line-height: 1.1rem;
  position: relative;
  .search-hit--highlight {
    font-weight: bold;
  }
}

