// Hits main area
.ais-hits {
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
}

// When no results match
.hits__noResults {
  background: white;
  position: relative;
  width: 100%;
  margin: 3rem;
  padding: 2rem;
  line-height: 2rem;
  &:before, &:after {
    content: '';
    height: 3px;
    background: #494949;
    position: absolute;
    left: 0;
    right: 0;
  }
  &:before {
    top: -6px;
  }
  &:after {
    bottom: -6px;
  }
}

// Each hit
.ais-hits--item {
  flex: 1 1 800px;
}

// Hit template
.hit {
  margin: 5px;
  padding: 1rem;
  overflow: hidden;
  background: white;
  position: relative;
  &.hit__isConference {
    border: 2px solid $pink;
  }
  &.hit__isWorkshop {
    border: 2px solid $blue;
  }
}
 
.search-hit--highlight {
  background: $light-blue;
  padding: 0 .1rem;
}

.hit--year {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-align: right;
  background: $light-blue;
  color: $text-color;
  padding: .5rem;
  border-radius: 3px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

.hit--title {
  display: block;
  margin: 0;
  font-family: 'Title';
  color: $pink;
  margin-right: 4rem;
  padding-bottom: .5rem;
  font-size: 1.9rem;
}

.hit--wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.hit--thumbnail {
  flex-basis: 150px;
  width: 150px;
  min-width: 150px;
  height: 95px;
  position:relative;
  margin-right: 1rem;
  background-image: url('../img/unicorn.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
  }
}

.hit--facets {
  flex-grow: 1;
}

.hit--authors {
  margin-top: .5rem;
}

.hit--author {
  $author-size: 40px;
  font-size: .9rem;
  height: $author-size;
  line-height: $author-size;
  padding-left: $author-size + 10px;
  padding-right: 10px;
  display: inline-block;
  background: {
    repeat: no-repeat;
    position: 0px 0px;
    size: $author-size;
  }
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &.hit-facet__isRefined {
    color: $pink;
    font-weight: bold;
  }
}

.hit--tags {
  display: block;
  margin-top: 1rem;
}
.hit--tag {
  font-size: .9rem;
  display: inline-block;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &:before {
    content: '#';
  }
  &.hit-facet__isRefined {
    color: $pink;
    font-weight: bold;
  }
}

.hit--description {
  padding-top: .5rem;
  font-size: .9rem;
  line-height: 1.1rem;
  position: relative;
  .search-hit--highlight {
    font-weight: bold;
  }
}


